body {
	padding: 0;
	margin: 0;
}

.home *{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
}

div.home  {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.home nav.nav_tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;
}

.home nav.nav_tools a {
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0,0,0, 0.87);
	  cursor: pointer;
	  padding: 5px 6.7px
}

.home nav.nav_tools a:hover {
	text-decoration: underline;
	opacity: .85;
}
  
.home nav.nav_tools img {
	width: 40px;
    padding: 7px 7px;
	margin: auto 7px;
	cursor: pointer;
}

.home nav.nav_tools img:hover {
	background-color: #ececece5;
	padding: 7px 7px;
	border-radius: 30px;
}

.home nav.nav_tools button {
	border: 1px solid #3478e7;
    background: #3478e7;
	color: #fff;
	padding: 7px 18px;
	border-radius: 3px;
	margin-left: 7px;
	cursor: pointer;
}

.home .search {
	position: relative;
    top: 100px;
    height:10fr;
    text-align: center;
    width: 100%;
}

.home .search .logo {
	width: 272px;
	height: 92px;
	display: block;
	margin: 0px auto;
	margin-top: 75px;
}

.home .search_elements {
	width: 580px;
	margin: 0px auto;
	position: relative;
	margin-top: -8px;
	text-align: center;
}

.home .search_elements .search_input {
	display: block;
	border: 1px solid #ddd;
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
	cursor: auto;
}

.home .search_elements .search_input:hover {
	border: 1px solid #fff;
	box-shadow: 0 0 5px rgba(172, 172, 172, 0.822);
}

.home .search_elements .search_lupa {
	width: 20px;
	opacity: .4;
	position: absolute;
	top: 13px;
	left: 14px;
}

.home .search_elements .search_mikrofon {
	width: 23px;
	position: absolute;
	top: 13px;
	right: 20px;
	cursor: pointer;
}

.home .search_elements .search_button {
	border: 1px solid #f8f9fa;
	padding: 9px 15px;
	background-color: #f8f9fa;
	color: #3c4043;
	height: 36px;
    min-width: 54px;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	margin-top: 30px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}

.home .search_elements .search_button:hover {
	box-shadow: 0 0 3px rgba(172, 172, 172, 0.822);
}

.home footer.foot {
	background-color: rgb(242,242,242);
    position: absolute;
    bottom: 1px;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    font-family: arial, sans-serif;
    font-size: 13px;
    border-top: 1px solid rgb(228,228,228);
    height: 1fr;
}

.home footer.foot h4 {
	color: rgba(0,0,0, 0.54);
	font-size: 15px;
	line-height: 43px;
	font-weight: 400;
	padding-left: 29px;
	border: 1px solid #eee;
}

.home footer.foot a {
	color: rgba(0,0,0, 0.54);
	display: inline-block;
	padding: 12px 11.3px;
	font-size: 14px;
	
}

.home footer.foot a:hover {
	text-decoration: underline;
}

.home .info {
	border-top: 1px solid #ddd;
	display: flex;
	color: #70757a;
	padding: 5px 0px;
}

.home .info_1 {
	padding-left: 18.7px;
	flex: 1;
	justify-content: flex-start;
    min-width: 40%;
    order: 1;
}

.home .info_3 {
	padding-right: 18.7px;
	order: 3;
	justify-content: flex-end;
}

.home .topbar {
	display: none;
}
.home .search_tools {
	display: none;
}
.home .searchResults {
	display: none;
}
.home .infopasek {
	display: none;
}