.home{
    display: block;
    width: 100%;
    font-family: arial, sans-serif;
  }
  
  .home .toolbar {
    position: absolute;
    width: 100%;
    height: 30px;
    padding: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  
  .home .toolbar a {
    text-decoration: none;
  }
  
  .home .toolbar a:hover {
    text-decoration: underline;
  }
  
  .home.toolbar a:visited {
    color: black;
  }
  
  .home .toolbar img {
    padding-right: 15px;
    position: relative;
    top: 6px;
    opacity: .55;
  }
  
  .home .toolbar img:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .home .toolbar button:hover {
    cursor: pointer;
  }
  
  .home .leftbar {
    margin-top: 7px;
    display: flex;
    float: left;
    padding-left: 10px;
  }
  
  .home .leftbar a {
    padding-left: 15px;
    opacity: .75;
  }
  
  .home .rightbar {
    display: flex;
    text-align: right;
    padding-right: 25px;
  }
  
  .home .rightbar a {
    padding-right: 20px;
    font-size: 13px;
    font-family: arial, sans-serif;
  }
  
  .home #logowanie {
    color: #ffffff;
    background-color: #1a73e8;
    padding: 9px 23px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 1px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .home #grafika{
    color: rgba(0,0,0,0.87);
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    padding-right: 25px;
  }
  
  .home #gmail{
    color: rgba(0,0,0,0.87);
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    padding-right: 10px;
  }
  
  .home #logowanie:hover {
    text-decoration: none;
  }
  
  .home .main {
    position: relative;
    top: 100px;
    height:10fr;
    text-align: center;
    width: 100%;
  }
  
  .home .logo {
    padding-top: 158px;
  }
  
  .home .logo:hover {
    cursor: pointer;
  }
  
  .home .searcharea {
    width: 584px;
    height: 44px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 27px;
    z-index:3;
  
  }
  
  .home .searchbox {
    padding: 2px 4px;
    height: 40px;
    width: 576px;
  }
  
  .home .searcharea:hover {
    box-shadow: 0 0 8px rgb(223,225,229);
  }
  
  .home .searcharea:active {
    box-shadow: 0 0 8px rgb(223,225,229);
  }
  
  .home .wejscie{
    width: 450px;
    height: 39px;
    margin-top: 14px;
    border: 1px green;
    outline: none;
    font-size: 16px;
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 8px;
    color: rgba(0,0,0,.87);
  }
  
  
  .home .searchinput:focus {
    outline: none;
  }
  
  .home .micro {
    height: 44px;
    width: 40px;
    display: inline-block;
    float: right;
  }
  
  
  .home .mic {
    height: 24px;
    width: 24px;
    padding: 8px 8px;
    display: inline-block;
  }
  
  .home .lupa {
    height: 44px;
    width: 40px;
    display:inline;
    float: left;
  }
  
  
  .home .lupka {
    height: 24px;
    width: 24px;
    padding: 8px 8px;
    display: inline-block;
  }
  
  .home .klawiatura {
    height: 44px;
    width: 40px;
    display:inline;
    float: right;
  }
  
  
  .home .keyboard {
    height: 12px;
    width: 20px;
    padding: 14px 8px;
    display: inline-block;
  }
  
  .home .mic:hover {
    cursor: pointer;
  }
  
  .home .lupa:hover {
    cursor: pointer;
  }
  
  .home .klawiatura:hover {
    cursor: pointer;
  }
  
  .home .search {
    height: 36px;
    line-height: 27px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    text-align: center;
    border-radius: 4px;
  }
  
  .home .search:hover {
    cursor: pointer;
    border: 1px solid #c6c6c6;
    color: rgb(133, 133, 133);
  }
  
  .home .buttons {
    padding-top: 18px;
    display: block;
    text-align: -webkit-center;
  }
  
  .home .infobar {
    background-color: rgb(242,242,242);
    position: absolute;
    bottom: 1px;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    font-family: arial, sans-serif;
    font-size: 13px;
    border-top: 1px solid rgb(228,228,228);
    height: 1fr;
  }
  
  .home .infobar a {
    text-decoration: none;
    color: rgb(95,99,104);
    line-height: 40px;
  }
  
  .home .infobar a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .home .infobar a:visited {
    color: rgb(95,99,104);
  }
  
  .home .locationinfo {
    height: 41px;
    border-bottom: 1px solid rgb(228,228,228);
    width: 100%;
    padding-left: 6px;
  }
  
  .home .location {
    padding-left: 26px;
    line-height: 40px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    text-align: left;
  }
  
  .home .infoleft {
    float: left;
    display: inline-block;
    font-size: 14px;
  }
  
  .home .infoleft a {
    padding-left: 33px;
  }
  
  .home .inforight {
    float: right;
    display: inline-block;
    font-size: 14px;
  }
  
  .home .inforight a {
    padding-right: 33px;
  }
  
  .home #boxesicon
  {
      display:none;
  }
  
  .home #optionsbar{
      display:none;
  }
  
  .home .searchresults{
    display:none;
  }
  
  .home .infopasek{
    display:none;
  }
  
  .home #topbar{
    display:none;
  }